<table class="table">
  <thead>
    <tr>
      <th>
        <a href="?sort=name">Имя товара</a>
      </th>
      <th>
        <a href="?sort=sku">Артикул</a>
      </th>
      <th>
        <a href="?sort=warehouse">Имя склада</a>
      </th>

      <% @range.each_with_index do |date, idx| %>
        <th>
          <a href="?sort=<%= "dat#{idx}" %>"><%= date.strftime("%d.%m.%Y") %></a>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @table_data.each do |row| %>
        <tr>
          <% row.each do |col| %>
            <td><%= col %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
